body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  margin-top: 10px;
}

#svg-and-legend {
  display: flex;
}

#chart {
  display: inline-block;
  stroke: #fff;
  float: left;
  width: 90%;  
}

#sidebar {
  display: inline-block;
  float: right;
  width:10%;
}
