body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  margin-top: 10px;
}

#svg-legend-container {
  display: flex;
}

#chart {
  display: inline-block;
  stroke: #fff;
}

#sidebar {
  display: inline-block;
}

#explanation {
  position: relative;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
